/*
    Variables CSS => Elementos que se usan para almacenar valores que se van a repetir a lo largo de todo el diseño
        => :root -> Equivale a selector html {}
            => Tiene una especificidad de 10
            => Lo usamos porque queremos que cualquier elemento HTML pueda usar las variables
*/
:root {
    --red-color: red;
    --green-color: green;
    --yellow-color: rgb(205, 205, 50);
    --blue-color: blue;
    --black-color: black;
    --dark-color: rgba(51, 51, 51);
    --lighting-color: rgba(185, 184, 184, 0.627);
}

.text-red {
    color: var(--red-color);
}

.text-green {
    color: var(--green-color);
}

.text-warning {
    color: var(--yellow-color);
}

.text-black {
    color: var(--black-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-warning {
    background-color: var(--yellow-color);
}

.bg-black {
    background-color: var(--black-color);
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

.bg-light {
    background-color: var(--lighting-color);
}