section {
    padding: 16px 0;
}

.d-inline-block {
    display: inline-block;
}

.disclaimer {
    font-size: 12px;
    margin-left: 8px;
}

a {
    color: #6f6868;
    font-weight: 700;
    text-decoration: none;
}

.logo {
    width: 48px;
}

/*
    Tablas
*/
table {
    width: 50%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

thead {
    background-color: azure;
    /* border: 1px solid black; */
}

tbody {
    background-color: bisque;
    /* border: 1px solid black; */
}

th,
td {
    padding: 8px;
    border: 1px solid black;
}

/*
    Selector descendente
*/

/*
    Calcular el valor de especificidad
        => selector de etiqueta (div): 1
        => selector de etiqueta (p): 1
        => valor: 1 + 1 = 2
*/
div>p {
    background-color: red;
    color: darkblue;
}

/*
    Calcular el valor de especificidad
        => selector de etiqueta (div): 1
        => selector de etiqueta (p): 1
        => valor: 1 + 1 = 2
*/
div p {
    background-color: blue;
    color: aliceblue;
}

/*
    Calcular el valor de especificidad
        => selector de clase (.padre): 10
        => selector de etiqueta (p): 1
        => valor: 10 + 1 = 11
*/
.padre p {
    background-color: cadetblue;
    color: darkgray;
}

/*
    Calcular el valor de especificidad
        => selector de clase (.padre): 10
        => selector de etiqueta (p): 1
        => valor: 10 + 1 = 11
*/
.padre>p {
    background-color: rgb(160, 95, 141);
    color: rgb(169, 169, 169);
}

.padre {
    padding: 16px;
}