section {
    padding: 16px 0;
}

.d-inline-block {
    display: inline-block;
}

.disclaimer {
    font-size: 12px;
    margin-left: 8px;
}

a {
    color: #6f6868;
    font-weight: 700;
    text-decoration: none;
}

.logo {
    width: 48px;
}

/*
    Tablas
*/
table {
    width: 50%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: azure;
}

tbody {
    background-color: bisque;
}

th,
td {
    padding: 8px;
    border: 1px solid black;
}

/*
    Selector descendente
*/
div>p {
    background-color: red;
    color: darkblue;
}

div p {
    background-color: blue;
    color: aliceblue;
}

.padre p {
    background-color: cadetblue;
    color: darkgray;
}

.padre>p {
    background-color: rgb(160, 95, 141);
    color: rgb(169, 169, 169);
}

.padre {
    padding: 16px;
}