* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* body {
    overflow: hidden;
} */

header,
main,
footer {
    padding: 8px 16px;
}

/* main {
    height: calc(100vh - 35vh - 35px);
    overflow-y: scroll;
    scroll-behavior: smooth;
} */

h1,
h2,
h3,
h4,
p {
    padding-bottom: 16px;
}

ul,
ol {
    padding-left: 32px;
    margin-bottom: 8px;
}