@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*
    Navegador lee que a .text-bold le tiene que aplicar font-family, font-optical....
*/
body,
.text-light,
.text-normal,
.text-bold {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333;
}

span,
.text-light {
    font-weight: 300;
}

body,
.text-normal {
    font-weight: 400;
}

/*
    Navegador lee que a .text-bold le tiene que aplicar font-weight: 700
*/
h1,
h2,
h3,
h4,
.text-bold {
    font-weight: 700;
}

/*
    .text-bold {
        font-family: "Lato", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
    }

    Clase utilitaria
        => Una clase genérica que contiene una serie de propiedades de CSS que puedan ser utilizadas en varios elementos independientemente del contexto del mismo
            => ej. En el diseño de la página web hay varios elementos que necesitan una tipografía Lato, normal y finita
                => .text-light {
                    font-family: "Lato", sans-serif;
                    font-optical-sizing: auto;
                    font-style: normal;
                    font-weight: 300;
                }

    Selector Compuesto => Combinación de selectores básicos y/o compuestos
        => Selector grupal
            => Permite aplicar la misma propiedad a varios selectores
                => ej. body, .text-light, .text-normal, .text-bold {
                    font-family: "Lato", sans-serif;
                    font-optical-sizing: auto;
                    font-style: normal;
                } (quiero que el selector body aplique las propiedades de texto font-family, font-optical-sizing, font-style. Quiero que el selecto .text-light aplique las propiedades font-family....)
*/