@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body,
.lato-light,
.lato-normal,
.lato-bold {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

span,
.lato-light {
    font-weight: 300;
}

body,
.lato-normal {
    font-weight: 400;
}

h1,
h2,
h3,
h4 .lato-bold {
    font-weight: 700;
}